@import "tailwindcss";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li,
ol {
  list-style: none;
}
